<div class="copyright-ilny clearfix">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <a href="index.html" target="_blank"> 2015 Blood Donation App By So-Business</a>
        </div>
        <div class="hidden-xs col-sm-6 col-md-6 col-lg-6 text-right">
            <nav>
                <ul>
                    <li><a href="/#">Home</a></li>
                    <li><a href="/#/about">About</a></li>
                    <li><a href="/#/contact">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
