<link href="../../Content/login.css" rel="stylesheet" />

<div ng-controller="loginController" id="login-page">
    <div id="contact-page-wrapp" class="register-page" >
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="mockup-content">
                    <h3>Login</h3>
                    <form>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <input type="email" required="" class="form-control" id="ilny-email" name="ilny-email" placeholder="Your Email...">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <input type="password" class="form-control" id="ilny-subject" name="ilny-subject" placeholder="password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="submit" value="Log In" class="pull-right ilny-shadowed">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>