<div ng-controller="searchresultsController">
    <!-- Single Intro -->
    <div class="single-intro-head typo-head">
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1>Search Results</h1>
            </div>
        </div>
    </div>
    <!-- Single Intro End -->
    <!-- Contact Page Wrapp -->
    <div id="contact-page-wrapp" class="register-page">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form action="send_form_email.php" method="POST">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <select style="width: 95%;">
                                        <option>Blood Group</option>
                                        <option>A+</option>
                                        <option>B+</option>
                                        <option>O+</option>
                                        <option>AB+</option>
                                        <option>A-</option>
                                        <option>B-</option>
                                        <option>O-</option>
                                        <option>AB-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <select style="width: 95%;">
                                        <option>Donor Type</option>
                                        <option>Individual</option>
                                        <option>Center</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <select style="width: 95%;">
                                        <option>Select State</option>
                                        <option>State One</option>
                                        <option>State Two</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <select style="width: 95%;">
                                        <option>Select City</option>
                                        <option>City One</option>
                                        <option>City Two</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                        </div>
                        <div class="row">


                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Contact Number</th>
                                    <th>Emails</th>
                                    <th>Action</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Muhammad Usman</td>
                                    <td>Donor</td>
                                    <td>01010203</td>
                                    <td>email@gmail.com</td>
                                    <td><a href="#">View Detail</a></td>
                                </tr>
                                <tr>

                                    <td>So-Business</td>
                                    <td>Center</td>
                                    <td>01010203</td>
                                    <td>email@gmail.com</td>
                                    <td><a href="#">View Detail</a></td>

                                </tr>
                                <tr>
                                    <td>Muhammad Ziad</td>
                                    <td>Donor</td>
                                    <td>01010203</td>
                                    <td>email@gmail.com</td>
                                    <td><a href="#">View Detail</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>